* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ad5389;
    background: -webkit-linear-gradient(to top, #DAE2F8, #D6A4A4);
    /*background: linear-gradient(to right, #c99eeb, /*#E7D6F1,*/ /*#8dd5c9);*/
    background: linear-gradient(135deg, #c2e9fb, /*#fddca5, #bbc8ba*/#a1c4fd, #CBEAEC);
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E5D0CF; 
}
.logo {
    display: flex;
    align-items: center;
}

.logo i {
    height: 30px; 
    margin-right: 10px;
    font-size: 35px;
    margin-top: -10px;
}

.logo a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: #000307
}

nav{
    padding-left: 70vh;
    margin-top: 2vh;
}
nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: larger;
    position: relative;
    transition: color 0.3s ease-in-out;
    
}

nav ul li {
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #000307; /* Underline color */
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
    color: red; /* Change text color on hover */
}

nav ul li a:hover::after {
    transform: scaleX(1); /* Expand the underline */
}

.form-container {
    /*background-color: -webkit-linear-gradient(to top, #C392EC, #85D5C8);
    background-color: linear-gradient(to right, #C392EC, #85D5C8);*/
    background-color: transparent;
    margin: 120px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 700px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin-bottom: 10px;
}

.form-container form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1bb8d7;
    color: white;
    cursor: pointer;
}

.form-container p {
    text-align: center;
}

/* Register CSS */

.reg-form-container {
    /*background-color: -webkit-linear-gradient(to top, #C392EC, #85D5C8);
    background-color: linear-gradient(to right, #C392EC, #85D5C8);*/
    background-color: transparent;
    margin: 120px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.1);
    max-width: 600px ;
    width: 700px ;
}

.reg-form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
    margin-top: 30px;
}

.reg-form-container form {
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
}

.reg-form-container form label {
    margin-bottom: 10px;
    display: block;
    margin: 10px 0;
    color: black;
    text-align: left;
    margin-left: 25px;
}


.reg-form-container form select {
  width: 100% auto;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.reg-form-container form
input[type="text"],
.reg-form-container form
input[type="email"],
.reg-form-container form
input[type="tel"],
.reg-form-container form
input[type="password"], 
.reg-form-container form
input[type="date"], 
.reg-form-container form
select {

    margin-left: 25px;
    margin-right: 25px;
  }

.reg-form-container form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reg-form-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1bb8d7;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
}

.reg-form-container p {
    text-align: center;
}
