* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ad5389;
    background: -webkit-linear-gradient(to top, #DAE2F8, #D6A4A4);
    background: linear-gradient(to right, #c99eeb, /*#E7D6F1,*/ #8dd5c9);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E5D0CF; 
}
.logo {
    display: flex;
    align-items: center;
    
}

.logo i {
    height: 30px; 
    margin-right: 10px;
    font-size: 30px;

}

.logo h4 {
    font-size: 30px;
}
nav{
    padding-left: 70vh;
}
nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

.form-container {
    background-color: -webkit-linear-gradient(to top, #C392EC, #85D5C8);
    background-color: linear-gradient(to right, #C392EC, #85D5C8);
    margin: 120px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    max-width: 400px;
    width: 700px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin-bottom: 10px;
}

.form-container form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5ac0d4;
    color: white;
    cursor: pointer;
}

.form-container p {
    text-align: center;
}
